.contact {
    margin: 10%;
    margin-top: 13%;
    display: grid;
    grid-template-columns: 40% 60%;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


.contact-det {
    margin: 2%;
    background-image: url("pictures/galaxyBackground.png");
    /* border: 2px solid red; */
    color: white;
    border-radius: 10px;
}

.contact-det img {
    width: 45%;
    margin-left: 50%;
    margin-top: 10%;
}

.contact-det h2 {
    font-weight: 600;
    font-size: 36px;
    font-family: 'Poppins', Arial;
    margin-top: -50%;
    margin-left: 10%;
}
.contact-det p {
    font-size: 18px;
    font-family: 'Poppins', Arial;
    /* margin-top: -50%; */
    color: #C9C9C9;
    margin-left: 10%;
}

.phone-mail  {
    color : white;
    margin-top: 20%;
    margin: 10%;
}

.phone-mail div {
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap : 2px
}
.phone-mail div img {
    margin-left: 5%;
    width: 20px;
    margin-top: 5px;   
}

.phone-mail div p{
    color: white;
    font-weight: 16px;
    font-family: 'Poppins', Arial;
}

.contact-icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap : 5%;
    margin-top: 40%;
    margin-left: 5%;

}
.contact-icons img {
    width: 40px;
}


.form1 {
    margin-top: 5%;
    margin-left: 4%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 120px;
}

.form1 div {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.form1 label {
    font-family: 'Poppins', Arial;
    font-size: 16px;
    font-weight: 500;
}
.form1 input {
    margin-top: 10px;
    border : none;
    border-bottom: 2px solid gray;
    width: 85%;
    height: 25px;
}

.form2 {
    margin-top: 18%;
    margin-left: 4%;
}


.form2 p,
.form-msg p
{
    font-family: 'Poppins', Arial;
    font-size: 16px;
    font-weight: 500;
}

.form-radio {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-msg {
    margin-left: 4%;
    margin-top: 5%;
}

textarea {
    border: none;
    border-bottom: 2px solid gray;
    width: 95%;
    margin-bottom: 5%;
}

.form-btn {
    background-color: black;
    color: white;
    padding: 12px 25px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500; 
    font-family: 'Poppins', Arial;
    margin-left: 74%;
    margin-bottom: 5%;
}

.contact-info {
    margin: 2% 10%;
    margin-top: -4%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10%;
}

.contact-info div h4 {
    font-family: 'Poppins', Arial;
    font-weight: 500;
    font-size: 36px;
}

.contact-info div p {
    font-family: 'Poppins', Arial;
    font-weight: 200;
    font-size: 16px;
}

.contact-info div a {
    font-family: 'Poppins', Arial;
    font-weight: 500;
    font-size: 16px;
    color: black;
}
.contact-info div img {
    margin-bottom: -15%;
}