*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.missions-title {
    margin-left: 5%;
    display: grid;
    grid-template-columns: 60px 1fr;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Inter', Arial;
}

.missions-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;     
    /* justify-content: center; */
    border: 2px solid red;
    gap: 30px;
}

.mission-card {
    height: 350px;
    width: 270px;
    border: 0.5px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5%;
    align-items: center;
    background-color: rgb(31, 31, 31);
    color: white;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25),
            0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    font-family: 'Inter', Arial; 
    padding: 20px;  
}

.mission-card img {
    width: 200px;
    height: 150px; 
}

.mission-card:hover {
    transform: translateY(-10px);
    box-shadow: 10px 10px 18px #00000044;
    border: 3px solid rgb(122, 41, 41);
}
.mission {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.add-del-fav {
    display: flex;
    gap: 25px;

}
.add-del-fav img {
    width: 30px;
    cursor: pointer;
}


.delete-popup {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items : center;
    top: 79px;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(20px);
    color: rgb(255, 255, 255);
    gap: 10vh;
    font-size: clamp(30px, 4vw, 50px);;
    padding: 20px;
    padding-top: 10vh;
    display: none;
}


.delete-popup button {
    font-size: clamp(20px, 4vw, 35px);
    margin-left: 50px;
    margin-right: 30px;
    width: 25vw;
    padding : 10px;
    border-radius: 20px;
    margin-top: 50px;
    cursor: pointer;
    border: none;
    transition: color 0.15s;
}

#delete-confirm {
    background-color: red;
}
#delete-cancel {
    background-color: rgb(226, 213, 213);
}

#delete-confirm:hover {
    border: 2px solid white;
    color: white;
    text-decoration: underline;
}

#delete-cancel:hover {
    border: 2px solid rgb(125, 188, 100);
    text-decoration: underline;
}

.mission-edit-section,
.favorites-section {
    position: fixed;
    top: 79px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    min-height: 200px;
    border: 2px solid red;
    background-color: rgba(0, 0, 0, 0.8);
    /* backdrop-filter: blur(20px); */
    display: none;
}

.mission-edit-section h2,
.favorites-section {
    text-align: center;
    font-weight: 800;
    font-size: clamp(25px, 5vw, 40px);
    color: white;
} 


.mission-edit-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1em;
    margin: 0 auto;
    width: clamp(300px, 50vw, 550px);
    max-height: 80vh;   
    border: 2px solid black;
    background-color: rgb(238, 236, 236);
    border-radius: 15px;
    padding: clamp(10px, 3vw, 17px);
    color: black;
    position:  relative;
    overflow-y: auto;
}

.mission-edit-form div {
    display: flex;
    flex-direction: column;
}
.mission-edit-form p {
    margin-top: 3px;
    font-size: 13px;
    color: red;
    height: 10px;
}

.mission-edit-form label {
    font-size: clamp(15px, 2vw, 18px);
    font-weight: 600;
}

.mission-edit-form input,
.mission-edit-form textarea
{
    border: none;
    border-bottom: 1.5px solid black;
    height: 4vh;
    background-color: transparent;
    padding: 0 10px;
    border-radius: 5px;
    /* font-size: 20px; */
}

.mission-edit-form input:focus {
    border-radius: 8px;
}

.edit-buttons {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
}
.mission-edit-form button {
    font-size: clamp(17px, 2vw, 25px);
    padding : 5px 17px;
    border-radius: 10px;
    cursor: pointer;
    /* border: none; */
    border: 1px solid black;
    transition: color 0.15s;
}

#confirm-edit {
    background-color: lightgreen;
}

#cancel-edit {
    background-color: rgb(226, 213, 213);
}

#confirm-edit:hover,
#cancel-edit:hover {
    text-decoration: underline;
}


.missions-header {
    padding-top: 1.5em;
    display: flex;
    align-items: center;
    gap: 2em;
}

#add-mission-btn,
#show-fav-btn
 {
    background-color: lightgreen;
    font-size: clamp(17px, 2vw, 25px);
    padding : 5px 17px;
    border-radius: 10px;
    cursor: pointer;
    /* border: none; */
    border: 1px solid black;
    transition: color 0.15s;
} 

#show-fav-btn {
    background-color: lightyellow;
}

.favorites-popup {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
    width: clamp(360px, 60vw, 730px);
    max-height: 80vh;
    border: 2px solid black;
    background-color: rgb(238, 236, 236);
    border-radius: 15px;
    overflow-y: scroll;
    padding: 20px;
    padding-top: 50px;
    position: relative;
    overflow-y: auto;
}

.favorite-card {
    border: 0.5px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    background-color: rgb(31, 31, 31);
    color: black;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25),
            0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    font-family: 'Inter', Arial; 
    margin: 0 auto;
    padding: 20px;
    color: white;
}

.favorite-card img {
    width: 130px;
    height: 100px;
}


#close-icon {
    width: 40px;
    position: absolute;
    top: 1.5px;
    right: 1.5px;
    cursor: pointer;
}



.filters {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1em;
    padding-right: 4vw;
    gap: 2vw;
    border: 2px solid red;
}


#agency-filter,
#search-filter,
#year-filter{
    padding: 0.75em 1em;
    border-radius: 7px;
    background-color: rgb(42, 42, 42);
    color: white;
}

#search-filter {
    background-color: lightgray;
    color: black;
    width: clamp(200px, 20vw, 300px);
}

